.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
  }
  
  .logo {
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logoImage {
    width: 250px;
    height: auto;
  }
  
  .card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333333;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .inputGroup label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 1rem;
  }
  
  .inputGroup input.error {
    border-color: red;
  }
  
  .error {
    font-size: 0.9rem;
    color: red;
    margin-top: 0.5rem;
  }
  
  .button {
    background-color: #0a0a0a;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .link {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .link a {
    color: #005bb5;
    text-decoration: none;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  